/* Global styles
------------------------------------*/
html {
  box-sizing: border-box; }

*,
*:before,
*:after {
  box-sizing: inherit; }

.btn {
  background: none; }

.count {
  font-size: medium;
  vertical-align: middle;
  color: gray; }

/* ------------------------------------Card Styles------------------------------------*/
.card-deck {
  background-color: #f4f4f4; }

.card {
  position: relative;
  padding: 0;
  margin: 8px 0px;
  margin-bottom: 30px;
  box-shadow: 0 0px 20px 0 transparent, 0 0px 20px 0 rgba(0, 0, 0, 0.2);
  border: none;
  border-radius: 12px; }

.card-img-top {
  border-top-right-radius: 12px;
  border-top-left-radius: 12px; }

.card-badge {
  background-color: midnightblue;
  color: white;
  width: 80px;
  padding: 8px;
  border-radius: 24px; }

.card-date {
  padding-bottom: 8px;
  padding-top: 8px;
  color: gray; }

.card-title {
  color: midnightblue;
  font-weight: bold; }

.card-text {
  color: gray; }

.card-author {
  color: midnightblue; }

.card-badge {
  position: absolute;
  top: 16px;
  left: 42px; }

.card-button {
  position: absolute;
  top: 8px;
  right: 8px;
  color: white;
  font-size: x-large; }

/* ------------------------------------Ratings Styles------------------------------------*/
.card-rating-group {
  padding-bottom: 20px; }

.rating__input {
  display: none; }

.rating__label {
  padding-right: 0.1em;
  font-size: 2rem; }

.rating__icon--star {
  color: orange; }

/* ------------------------------------Interactions Styles------------------------------------*/
.interaction-btn {
  padding: 0px;
  color: gray; }
